<%= render "layouts/logged_in_header" %>

<div class="row">
  <h1>Delete API-key</h1>
</div>

<div class="row">
  <%= render "layouts/flashmessage" %>
</div>


<div class="row">
  <%= link_to_unless(current_user.is_admin?, "Back to list", userkeys_path, class: 'btn btn-lg btn-primary'){} %>

  <%= link_to_if(current_user.is_admin?, "Back to users", users_path, class: 'btn btn-lg btn-primary'){} %>
</div>
