<%= render "layouts/logged_in_header" %>

<h1>Delete API-key</h1>

<% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>


<%= link_to_unless(current_user.is_admin?, "Back to list", userkeys_path){} %>

<%= link_to_if(current_user.is_admin?, "Back to users", users_path){} %>