<div class="well">
    <strong>What are locations for?</strong><br>
    Locations are the places where you do your climbing at.
    The number located beside the location in the map represents the number of reports associated with the location
</div>

<div class="row">

    <h1 class="col-md-6">Locations</h1>

    <p class="text-right col-md-6">
        <button class="btn btn-success" ng-click="setAddMode(true)" ng-disabled="isAddMode || isEditMode"><span class="glyphicon glyphicon-plus"></span> Add location</button>
    </p>
</div>
<div class="row">
    <div class="ng-map-container" map-lazy-load="https://maps.google.com/maps/api/js">
        <ng-map zoom="{{mapValues.zoom}}" center="[{{mapValues.center.latitude}}, {{mapValues.center.longitude}}]">

            <custom-marker
                ng-if="!addMode"
                position="[{{location.latitude}}, {{location.longitude}}]"
                ng-repeat="location in visibleLocations"
            >
                <div class="cm">
                    <!-- Runs angular function and also toggles bootstrap modal with "data-toggle" and "data-target" attributes -->
                    <a class="map-marker-button"
                       ng-click="editLocation(location)"
                    >
                        <span class="location-name">{{location.name}}</span>
                        <span class="reports-count">{{location.reports_count}}</span>
                    </a>
                </div>
            </custom-marker>

            <marker
                ng-repeat="location in newLocation"
                position="[{{location.latitude}}, {{location.longitude}}]"
                draggable="true"
                on-drag="onDragUpdateLocationPosition()"
                icon="{
                    url:'images/new_location_marker_icon.png',
                    scaledSize:[50,58]
                }"
            >
            </marker>
        </ng-map>
    </div>
</div>
<div class="row">
    <div ng-show="isEditMode">
        <h4>Edit location name</h4>

        <div class="input-group">
            <input type="text" class="form-control" ng-model="editedLocation.name">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="saveLocation(editedLocation)" ng-disabled="editedLocation.isBusy">Save</button>
                <button type="button" class="btn btn-default" ng-click="isEditMode = false" ng-disabled="editedLocation.isBusy">Cancel</button>
                <button type="button" class="btn btn-default" ng-click="deleteLocation(editedLocation)" ng-disabled="editedLocation.isBusy"><span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </div>

    <div ng-show="isAddMode">
        <h4>New location name</h4>

        <div class="input-group">
            <input type="text" class="form-control" ng-model="newLocation[0].name">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="addLocation(newLocation[0])" ng-disabled="newLocation[0].isBusy">Save</button>
                <button type="button" class="btn btn-default" ng-click="setAddMode(false)" ng-disabled="newLocation[0].isBusy">Cancel</button>
            </div>
        </div>
    </div>
</div>