<div class="well">
    <strong>What are locations for?</strong><br>
    Locations are the places where you do your climbing at.
</div>

<div class="row">

    <h1 class="col-md-6">Locations</h1>

    <div map-lazy-load="https://maps.google.com/maps/api/js">
        <ng-map zoom="{{mapValues.zoom}}" center="[{{mapValues.center.latitude}}, {{mapValues.center.longitude}}]">

            <custom-marker
                position="[{{location.latitude}}, {{location.longitude}}]"
                ng-repeat="location in locationsData.items"
            >
                <div class="cm">
                    <!-- Runs angular function and also toggles bootstrap modal with "data-toggle" and "data-target" attributes -->
                    <a class="map-marker-button"
                       ng-click="setSpecificLocation(location)"
                       ng-mouseover="highlightLocation(location)"
                       ng-mouseleave="highlightLocation()"
                       data-toggle="modal"
                       data-target="#specificTrafficMessage"
                       ng-class="{highlightedmarker: hightlightedLocation == location}"
                    >
                        <span class="label">{{location.reports_count}}</span>

                        <span class="cat-text">{{location.name}}</span>
                    </a>
                </div>
            </custom-marker>

        </ng-map>
    </div>

    <pre id="default-spacing">{{ locationsData | json }}</pre>

</div>