<div>

    <div class="well">
        <strong>What are tags for?</strong><br>
        Tags helps you to categorize your climbing. As an example, there are tags for different types of climbing.
    </div>

    <div class="row">

        <h1 class="col-md-6">Tags</h1>

        <p class="text-right col-md-2">
            <button class="btn btn-success" ng-click="isAddMode = true" ng-disabled="isAddMode"><span class="glyphicon glyphicon-plus"></span> Add tag</button>
        </p>
        <div class="text-right col-md-4">
            <ul class="pagination">
                <li ng-class="{ disabled: tagsData.pagination.prev_page_href == ''}">
                    <a href ng-click="previousPage()">
                        <span>&laquo;</span>
                    </a>
                </li>
                <li class="active">
                    <span>Page <strong>{{tagsData.pagination.page_num}}</strong> of {{tagsData.pagination.total_pages}}</span>
                </li>
                <li ng-class="{ disabled: tagsData.pagination.next_page_href == ''}">
                    <a href ng-click="nextPage()">
                        <span>&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="46"></th>
                <th width="55" class="text-right">Color</th>
                <th>Tag name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tag in tagsData.items" class="repeat-animation">
                <td>
                    <button
                        ng-show="!tag.isEditMode"
                        class="custom-button btn btn-default btn-xs glyphicon glyphicon-pencil"
                        ng-click="tag.isEditMode = true"
                    />
                </td>
                <td class="text-center">
                    <div class="colorbox" style="background: {{tag.color}}">
                        <div colorpicker
                             class="color-picker-container"
                             ng-model="tag.color"
                             colorpicker-position="top"
                             colorpicker-is-open="tag.isEditMode"
                        ></div>
                    </div>
                </td>
                <td>
                    <span ng-show="!tag.isEditMode">{{tag.name}}</span>

                    <div class="input-group" ng-show="tag.isEditMode">
                        <input type="text" class="form-control" ng-model="tag.name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="saveTag(tag)" ng-disabled="tag.isSaving">Save</button>
                            <button type="button" class="btn btn-default" ng-click="tag.isEditMode = false" ng-disabled="tag.isSaving">Cancel</button>
                            <button type="button" class="btn btn-default" ng-click="deleteTag(tag)" ng-disabled="newTag.isSaving"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- When adding a new tag -->
            <tr ng-show="isAddMode" class="repeat-animation">
                <td></td>
                <td class="text-center">
                    <div class="colorbox"
                         style="background: {{newTag.color}}"
                         colorpicker
                         class="color-picker-container"
                         ng-model="newTag.color"
                         colorpicker-position="top"
                    >
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="newTag.name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="addTag(newTag)" ng-disabled="newTag.isBusy">Save</button>
                            <button type="button" class="btn btn-default" ng-click="isAddMode = false" ng-disabled="newTag.isBusy">Cancel</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>